<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title >Profesores</title>
</head>
    <body>
    <table>
        <thead>
             <tr>
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>rut</th>
             </tr>
        </thead>
        <tbody>
        <tr th:each="profesores: ${profesores}">
            <td th:text= "${profesores.id}"></td>
            <td th:text= "${profesores.nombre}"></td>
            <td th:text= "${profesores.apellido}"></td>
            <td th:text= "${profesores.rut}"></td>
         </tr>

        </tbody>
    </table>
<br>

<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>id</th>-->
<!--            <th>curso</th>-->
<!--            <th>sala</th>-->
<!--            <th>cantidad de alumnos</th>-->
<!--            <th>letra</th>-->
<!--            <th>profesor jefe</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="profesores: ${profesores}">-->
<!--            <td th:object= "${profesores.cursoId.id}"></td>-->
<!--            <td th:object= "${profesores.cursoId.curso}"></td>-->
<!--            <td th:object= "${profesores.cursoId.sala}"></td>-->
<!--             <td th:object= "${profesores.cursoId.cantidadAlumnos}"></td>-->
<!--            <td th:object= "${profesores.cursoId.letra}"></td>-->
<!--            <td th:object="${profesores.cursoId.profesorJefe.nombre} "></td>-->
<!--        </tr>-->

        </tbody>
    </table>

</body>

</html>